*.pyc
*.db
*.sqlite3
node_modules
local.py
/static
/media
.coverage
.cache
htmlcov
.pytest_cache
.DS_Store
*env
*env3
*migrations
*staticfiles
*logs
nohup.out
celerybeat.pid
site/
.vscode/
!*migrations/__init__.py
locale
.idea/
logs/*
testing.py
data/media
