{% load i18n staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'jquery/css/jquery-ui.min.css' %}" rel="stylesheet">
    <style type="text/css">
    ul,
    li {
        list-style-type: none;
        padding: 10px;
    }

    .note {
        /*margin: 4px;*/
    }
    </style>
</head>

<body>
    <div>Hi {{user.first_name}}, </div>
    <p>
        <div>You are receiving this email because you requested a password change for The {{app_name}} platform. If this was not the case, kindly reach out to the The {{app_name}} Team and change your password immediately.</div>
        <div>Here are your new login credentials.</div>
    </p>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Username</strong></td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td><strong>Password</strong></td>
                <td>{{password}}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <div class="note">
        <p>Thanks,</p>
        <p>The {{app_name}} Team</p>
    </div>
</body>
<script src="{% static 'jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</html>